.task-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 850px;
  height: 70px;

  background: var(--grayscale_body_background);
  border-radius: 20px;
}

.task-text {
  margin-left: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: start;

  color: var(--grayscale_title);
}

.task-info {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  position: relative;

  flex-direction: row;
  align-items: center;
  gap: 10px;

  margin-right: 30px;
  margin-left: auto;

  color: var(--primary_darkest)
}