.task-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border: none;

  min-width: 100%;
  height: 60px;

  //background: var(--grayscale_body_background);
  border-radius: 20px;
}

//.task-item-wrapper:hover {
//  border-style: solid;
//  border-width: 2px;
//  border-color: var(--primary_dark);
//}
//
//.task-item-wrapper:focus {
//  border-style: solid;
//  border-width: 2px;
//  border-color: var(--primary_dark);
//}

.relevant {
  background: var(--grayscale_body_background);
  color: var(--primary_dark);
}

.relevant:hover {
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary_dark);
}

.relevant:focus {
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary_dark);
}

.outdated {
  background: var(--warning_lightest);
  color: var(--warning_darkest);
}

.outdated:hover {
  border-style: solid;
  border-width: 2px;
  border-color: var(--warning_darkest);
}

.outdated:focus {
  border-style: solid;
  border-width: 2px;
  border-color: var(--warning_darkest);
}

.deadline-picker {
  display: flex;
  flex-direction: row;

  gap: 0;
}

.task-text {
  margin-left: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: start;

  color: var(--grayscale_title);
}

.done {
  text-decoration: line-through;
}

.active {
  text-decoration: none;
}

.task-info {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  position: relative;

  flex-direction: row;
  align-items: center;
  gap: 10px;

  margin-right: 30px;
  margin-left: auto;

  //color: var(--primary_dark)
}

.positive-props {}

.positive-props:hover {
  color: var(--success_main);
}

.negative-props {}

.negative-props:hover {
  color: var(--error_main)
}

.neutral-props {}

.neutral-props:hover {
  color: var(--primary_light)
}