.popover-wrapper {
  background-color: transparent;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-left: 3px;
}

.calendar-properties {
  border: none;
  background-color: transparent;
  appearance: none;

  max-width: 350px;
  max-height: 350px;
}

.popover-wrapper:hover {
  border: none;
  background-color: transparent;
  appearance: none;
}

.popover-wrapper:focus {
  border: none;
  background-color: transparent;
  appearance: none;
}