.tasks-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  min-height: 100%;
  min-width: 650px;
  height: 100%;

  gap: 15px;
}

.tasks-page-header {
  margin-top: 20px;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;

  color: var(--grayscale_title);
}

.task-list {
  min-width: 650px;
  overflow: scroll;

  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 10px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--primary_light);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 0 10px;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: transparent;
    scrollbar-track-color: var(--primary_main);
  }
}

.task-item {
  min-width: 630px;
}

.create-task-button {
  display: flex;
  justify-self: center;
  align-self: flex-end;
  position: relative;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  margin-top: auto;

  border: none;

  min-width: 160px;
  min-height: 60px;

  background-color: var(--primary_main);
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: var(--grayscale_title);
}

.create-task-button:hover {
  background-color: var(--primary_dark);
  color: var(--primary_light);
}